.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}