.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.timeline {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.threadInfo {
  min-width: 350px;
  padding: 24px;
  background: #fff;
  border-left: 1px solid #eee;
}

.threadInfoGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: max-content;
  gap: 12px;
}

.threadInfoProp {
  font-size: 14px;
  font-weight: bold;
}

.threadInfoDesc {
  font-size: 14px;
}

.message {
  padding: 12px;
  border-bottom: 1px solid #eee;
  width: 100%;
  margin-bottom: 16px;
}

.component {
  margin-bottom: 8px;
}

.avatar {
  background: #000;
  color: #fff;
  border-radius: 100%;
  padding: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  margin-bottom: 12px;
}

.actor {
  font-size: 14px;
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: var(--text-muted);
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.description {
  font-size: 12px;
  color: var(--text-muted);
  margin-bottom: 16px;
}
