.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  background: #f8f8f8;

}

.timeline {
  padding: 24px;
  flex-grow: 1;
  max-width: 900px;
  margin: 0 auto;
}

.message {
  padding: 20px;
  width: 100%;
  margin-bottom: 16px;
  background: #fff;
  border-radius: 8px;
}


.component {
  margin-bottom: 8px;
}

.messageContent {
  line-height: 1.4;
}

.entryHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  margin-bottom: 12px;
}


.attribution {
  font-size: 1rem;
  color: #999;
  margin-bottom: 8px;
}

.actorName {
  color: #000;
  font-weight: 500;
}

.emailSubject {
  margin:16px 0 4px;
  font-weight: 500;
}

.emailMarkdown {
  white-space: pre-wrap;
}

.emailParticipants {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 12px;
}