.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.message {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
}