.actor {
  display: flex;
  gap: 8px;
  align-items: center;
   margin-bottom: 12px;
}

.avatar {
  background: #000;
  color: #fff;
  border-radius: 100%;
  padding: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
