.button {
    padding: 8px 16px;
    font-weight: 500;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    outline: none;
    display: block;
    
    line-height: 24px;
    transition: background 50ms linear;
    position: relative;
}

.button:not(:disabled) {
    cursor: pointer;
}

.button:hover:not(:disabled) {
    background: #2d2d2d;
}

.button:disabled {
    background: #e2e2e2;
    color: #9b9b9b;
}


.spinner {
    --size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--size);
    height: var(--size);
    border: 2px solid #27272a;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    70% {
        transform: translate3d(-50%, -50%, 0) rotate(200deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
} 