.pageWrapper {
    display: flex;
    gap: 8px
}

.button {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: 500;
    line-height: 19px;
  }
  
.button:not(:disabled):hover {
    border-color: #000;
}