.textarea {
    color: #000;
    background: #FFF;
    border-radius: 8px;
    padding: 8px 12px;
    outline: none;
    border: 2px solid #cccccc;
    display: block;
    width: 100%;
    
    resize: vertical;
    min-height: 100px;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
}

.textarea::placeholder {
    color: #999;
}

.textarea:focus {
    border-color: #000;
}