.input {
    color: #000;
    background: #FFF;
    border-radius: 8px;
    border: 2px solid #cccccc;
    padding: 12px 12px;
    outline: none;
    display: block;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}

.input::placeholder {
    color: #999;
}

.input:hover {
    box-shadow: 0 0 0 1px #aaaac73d inset;
}

.input:focus {
    border-color: #000;
}